@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,400i,600,700,800&display=swap");
body { font-size: 16px; }

h1 { font-size: 2.25rem; }

h2 { font-size: 1.75rem; }

h3 { font-size: 1.25rem; }

/* COLORINGS */
.bg-pink { background-color: #ff0080 !important; }

.border-pink { border-color: #ff0080 !important; }

.text-pink { color: #ff0080 !important; }

.bg-violet { background-color: #a349a4 !important; }

.border-violet { border-color: #a349a4 !important; }

.text-violet { color: #a349a4 !important; }

.bg-blue { background-color: #0000ff !important; }

.border-blue { border-color: #0000ff !important; }

.text-blue { color: #0000ff !important; }

.hex-grad { background: -moz-linear-gradient(0deg, #0000FF 0%, #A349A4 50%, #FF0080 100%); /* ff3.6+ */ background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0000FF), color-stop(50%, #A349A4), color-stop(100%, #FF0080)); /* safari4+,chrome */ background: -webkit-linear-gradient(0deg, #0000FF 0%, #A349A4 50%, #FF0080 100%); /* safari5.1+,chrome10+ */ background: -o-linear-gradient(0deg, #0000FF 0%, #A349A4 50%, #FF0080 100%); /* opera 11.10+ */ background: -ms-linear-gradient(0deg, #0000FF 0%, #A349A4 50%, #FF0080 100%); /* ie10+ */ background: linear-gradient(90deg, #0000FF 0%, #A349A4 50%, #FF0080 100%); /* w3c */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000FF', endColorstr='#FF0080',GradientType=1 ); /* ie6-9 */ }

.rgba-grad { background: -moz-linear-gradient(0deg, blue 0%, #a349a4 50%, #ff0080 100%); /* ff3.6+ */ background: -webkit-gradient(linear, left top, right top, color-stop(0%, blue), color-stop(50%, #a349a4), color-stop(100%, #ff0080)); /* safari4+,chrome */ background: -webkit-linear-gradient(0deg, blue 0%, #a349a4 50%, #ff0080 100%); /* safari5.1+,chrome10+ */ background: -o-linear-gradient(0deg, blue 0%, #a349a4 50%, #ff0080 100%); /* opera 11.10+ */ background: -ms-linear-gradient(0deg, blue 0%, #a349a4 50%, #ff0080 100%); /* ie10+ */ background: linear-gradient(90deg, blue 0%, #a349a4 50%, #ff0080 100%); /* w3c */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000FF', endColorstr='#FF0080',GradientType=1 ); /* ie6-9 */ }

.header-wrap { display: block; position: relative; width: 100vw; z-index: 0; }

.header-wrap::after { /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0000ff+0,a349a4+50,ff0080+100 */ background: #0000ff; /* Old browsers */ background: -moz-linear-gradient(left, #0000ff 0%, #a349a4 50%, #ff0080 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(left, #0000ff 0%, #a349a4 50%, #ff0080 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right, #0000ff 0%, #a349a4 50%, #ff0080 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#ff0080',GradientType=1 ); /* IE6-9 */ content: ''; display: block; left: 0; min-height: 30vh; position: absolute; top: 0; width: 100vw; z-index: -1; }

@media screen and (min-width: 576px) { .header-wrap::after { display: none; } }

.header-wrap svg { display: none; left: 0; position: absolute; top: 0; z-index: -1; }

@media screen and (min-width: 576px) { .header-wrap svg { display: block; } }

@media screen and (min-width: 955px) { .header-wrap svg { top: -10vh; } }

/*# sourceMappingURL=style.css.map */